# Logs
logs
*.DS_Store
*.log
.history
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

.idea/*
.vscode

!.keep
.dccache

tmp/
